* {
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    margin: 3rem;
    background-color: #dfdfdf;
}

h1, h2 {
    color: #333333;
}

input, label {
    display: block;
    font-size: 20px;

}

.btn {
    font: inherit;
    padding: 0.5rem 1.5rem;
    cursor: pointer;
    border-radius: 4px;
    background-color: #800040;
    color: white;
    border: 1px solid #800040;
    margin: 0 1rem;
}

.card {
    background-color: white;
    border-radius: 4px;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
    padding: 2rem;
    width: 100%;
}

.modal {
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
    border-radius: 6px;
    background-color: white;
    padding: 1rem;
    text-align: center;
    width: 30rem;
    z-index: 10;
    position: fixed;
    top: 20vh;
    left: calc(50% - 15rem);
}

.backdrop {
    position: fixed;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.25);
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
}

textarea {
    overflow-y: scroll;
}

.list {
    list-style: none;
}

th, td {
    border: 1px solid black;
    padding: 5px;
}

.login-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    border-radius: 4px;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
    padding: 2rem;
}

/*
https://stackoverflow.com/questions/7713873/javascript-html-to-alternate-row-colors-for-input-type-textarea
*/
textarea {
    background-image: linear-gradient(#F1F1F1 50%, #F9F9F9 50%);
    background-size: 100% 4rem;
    border: 1px solid #CCC;
    width: 100%;
    height: 290px;
    line-height: 2rem;
    margin: 0 auto;
    padding: 4px 8px;
    font-size: x-large;
}

